In [1]:
import scanpy as sc
import pandas as pd

In [2]:
adata = sc.read_h5ad("/Users/cyluo/Library/CloudStorage/Box-Box/MERFISH Collaboration 3/clustering3/h5ad files/zenodo/merscope_integrated_855.h5ad")
print(adata)

AnnData object with n_obs × n_vars = 15927370 × 300
    obs: 'gw', 'sample', 'region', 'area', 'layer', 'H1_annotation', 'H2_annotation', 'H3_annotation', 'relative_height', 'cortical_depth'
    uns: 'rank_genes_groups'
    obsm: 'spatial'

/Users/cyluo/anaconda3/envs/xuyuEnv/lib/python3.9/site-packages/anndata/_core/anndata.py:1897: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [ ]:
adatasub = adata[adata.obs['H1_annotation'].isin(['EN-IT', 'EN-ET', 'EN-Mig'])]

['UMB1117', 'UMB1367']
Categories (2, object): ['UMB1117', 'UMB1367']

In [6]:
gw_H3c = (
    adata.obs.groupby(['gw', 'H3_annotation'])
    .size()
    .reset_index(name='H3count')
    )
gw_H3c

/var/folders/xz/tff3yvr92zz54zqk2m9jp1f00000gq/T/ipykernel_55803/942297996.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  adata.obs.groupby(['gw', 'H3_annotation'])

     gw H3_annotation  H3count
0    15       Astro-1    14718
1    15       Astro-2    28084
2    15   Astro-early      784
3    15   Astro-late1    19459
4    15   Astro-late2     1354
..   ..           ...      ...
451  34    vRG-early1        5
452  34    vRG-early2      216
453  34     vRG-late1       23
454  34     vRG-late2     2026
455  34     vRG-late3     1638

[456 rows x 3 columns]

In [ ]:
gw_H3c.to_csv("gw_H3c.csv", index=False)