In [1]:
import scanpy as sc
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.sparse import spmatrix

In [20]:
gene_output = pd.read_csv("gene1000_output4.csv")
gene_output.head()

     gene  log_fold_change  pvals  pvals_adj  -log10_pval
0  GABRA5         4.630578    0.0        0.0          inf
1  RIPOR2         1.335547    0.0        0.0          inf
2   SYNPR         0.894857    0.0        0.0          inf
3   PWRN4         0.701145    0.0        0.0          inf
4    NPR3         2.785482    0.0        0.0          inf

In [21]:
gene_output_up = gene_output[gene_output['log_fold_change'] >= 0]
gene_output_up.head()

     gene  log_fold_change  pvals  pvals_adj  -log10_pval
0  GABRA5         4.630578    0.0        0.0          inf
1  RIPOR2         1.335547    0.0        0.0          inf
2   SYNPR         0.894857    0.0        0.0          inf
3   PWRN4         0.701145    0.0        0.0          inf
4    NPR3         2.785482    0.0        0.0          inf

In [22]:
gene_output_down = gene_output[gene_output['log_fold_change'] < 0]
gene_output_down = gene_output_down.sort_values(by = 'log_fold_change', ascending = True)
gene_output_down.head()

            gene  log_fold_change          pvals      pvals_adj  -log10_pval
1233     NEUROD6        -2.328320  1.031100e-117  1.323422e-116   115.878302
1211       KCNH5        -1.900397   3.902633e-74   3.196565e-73    72.495316
1173        FCN1        -1.670155   4.274929e-42   1.963943e-41    40.706871
994   AC007529.1        -1.652426   3.509872e-11   6.743504e-11    10.171114
1134  AC092994.1        -1.373846   3.815633e-30   1.323249e-29    28.878358

In [23]:
signif_up = gene_output_up[gene_output_up['log_fold_change'] > 0.5]
signif_up.head()

     gene  log_fold_change  pvals  pvals_adj  -log10_pval
0  GABRA5         4.630578    0.0        0.0          inf
1  RIPOR2         1.335547    0.0        0.0          inf
2   SYNPR         0.894857    0.0        0.0          inf
3   PWRN4         0.701145    0.0        0.0          inf
4    NPR3         2.785482    0.0        0.0          inf

In [24]:
signif_down = gene_output_down[gene_output_down['log_fold_change'] < -0.5]
signif_down.head()

            gene  log_fold_change          pvals      pvals_adj  -log10_pval
1233     NEUROD6        -2.328320  1.031100e-117  1.323422e-116   115.878302
1211       KCNH5        -1.900397   3.902633e-74   3.196565e-73    72.495316
1173        FCN1        -1.670155   4.274929e-42   1.963943e-41    40.706871
994   AC007529.1        -1.652426   3.509872e-11   6.743504e-11    10.171114
1134  AC092994.1        -1.373846   3.815633e-30   1.323249e-29    28.878358

In [25]:
signif_up.to_csv("1000signif_up_DEG4.csv", index = False)
signif_down.to_csv("1000signif_down_DEG4.csv", index = False)